/asset/vendor
/build
/language/debug.po
/language/debug.mo
/language/chef.po
/language/chef.mo
/node_modules
/vendor
.sass-cache/
.bundle
.DS_Store
.php_cs.cache
.php-cs-fixer.cache
composer.phar
debug.log
vendor/codewithkyrian/transformers/cache/*
.transformers-cache/Xenova/all-MiniLM-L6-v2/config.json
.transformers-cache/Xenova/all-MiniLM-L6-v2/tokenizer_config.json
.transformers-cache/Xenova/all-MiniLM-L6-v2/tokenizer.json
.transformers-cache/Xenova/all-MiniLM-L6-v2/onnx/model_quantized.onnx
.transformers-cache/Xenova/bert-base-NER/config.json
.transformers-cache/Xenova/bert-base-NER/tokenizer_config.json
.transformers-cache/Xenova/bert-base-NER/tokenizer.json
.transformers-cache/Xenova/bert-base-NER/onnx/model_quantized.onnx
.transformers-cache/Xenova/bert-base-uncased/config.json
.transformers-cache/Xenova/bert-base-uncased/tokenizer_config.json
.transformers-cache/Xenova/bert-base-uncased/tokenizer.json
.transformers-cache/Xenova/bert-base-uncased/onnx/model_quantized.onnx
.transformers-cache/Xenova/toxic-bert/config.json
.transformers-cache/Xenova/toxic-bert/tokenizer_config.json
.transformers-cache/Xenova/toxic-bert/tokenizer.json
.transformers-cache/Xenova/toxic-bert/onnx/model_quantized.onnx
